.fx-welcome {
  transition: height 1s;
}
/* GLOBAL  */
.counter.parent {
  counter-reset: countVar;
}
.counter.child::after {
  counter-increment: countVar;
  content: counter(countVar);
}
thead {
  cursor: pointer;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.302);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
  background-color: #555;
}
/* CUSTOM APP TITLE BAR  */
html {
  overflow-y: hidden;
  scroll-behavior: smooth;
  background-color: transparent;
}
#APP_TITLEBAR.active {
  background-color: #2f2f2f;
}
#APP_TITLEBAR {
  -webkit-app-region: drag;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 9999;
  color: #eee;
  background-color: #999;
  border-radius: 10px 10px 0 0;
}
#APP_BODY {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100vh;
  overflow-y: auto;
  background-color: #646464;
}
#APP_TITLEBAR button {
  /* fix window understand as dragable area */
  -webkit-app-region: none;
  cursor: pointer;
}
#APP_TITLEBAR .right {
  padding: 3px 7px;
  min-width: 170px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#APP_TITLEBAR .right button {
  margin: 0 2px;
  font-size: 12px;
  padding: 2px 5px;
  height: 22px;
  background-color: #999;
  border: none;
}
#APP_TITLEBAR.active .right button {
  background-color: #ffe08a;
}
.trafficLight {
  position: absolute;
  top: 5px;
  left: 8px;
}
#APP_TITLEBAR.active .trafficLight button {
  opacity: 1;
}
.trafficLight button {
  border-radius: 100%;
  padding: 0;
  height: 12px;
  width: 12px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-right: 3.5px;
  background-color: #ddd;
  position: relative;
  outline: none;
  opacity: 0.5;
}
.trafficLight .close {
  background-color: #ff6159;
}
.trafficLight .min {
  background-color: #ffbd2e;
}
.trafficLight .max {
  background-color: #28c941;
}
#APP_LOGS {
  background-color: #2f2f2f;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 0.8rem;
  color: #fff;
  overflow-y: scroll;
  white-space: normal;
}
/* ELEMENTS */
.panel-info {
  height: 150px;
  overflow-y: auto;
}
#AccountList .table-container {
  max-height: 285px;
  overflow-y: auto;
}
td.accSelector {
  cursor: pointer;
}
td.accSelector:hover {
  background-color: #f1e4d4;
}
td.accSelector.selected {
  color: white;
  background-color: #ff4f0b;
}