.fx-welcome {
  transition: height 1s;
}
/* ELEMENTS */
.panel-info {
  height: 150px;
  overflow-y: auto;
}
tr.accSelector {
  cursor: pointer;
}
tr.accSelector:hover {
  background-color: #f1e4d4;
}
tr.accSelector.selected {
  color: white;
  background-color: #ff7640 !important;
}
.ColPrizeBig {
  background-color: #f18e51 !important;
  color: #ffea00 !important;
}
.ColPrizeSmall {
  background-color: #768bd8 !important;
  color: #ffe906 !important;
}
#WindowTable button {
  height: 25px;
}
.winToggle {
  width: 2.8em;
  padding: 5px 0 !important;
}
.windowCount {
  width: 5px;
}
.FlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ssid_color {
  width: 50px;
}
.ss_menu{
  width: 90px;
}
.ssColor {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
}