/* GLOBAL  */
.counter.parent {
  counter-reset: countVar;
}

.counter.child::after {
  counter-increment: countVar;
  content: counter(countVar);
}

thead {
  cursor: pointer;
}

/* CUSTOM APP TITLE BAR  */
#titleBar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
  height: 40px;
}
.trafficLight {
  position: absolute;
  top: 8px;
  left: 8px;
}
.trafficLight button {
  border-radius: 100%;
  padding: 0;
  height: 12px;
  width: 12px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-right: 3.5px;
  background-color: #ddd;
  position: relative;
  outline: none;
}
.trafficLight .close {
  background-color: #ff6159;
}
.trafficLight .min {
  background-color: #ffbd2e;
}
.trafficLight .max {
  background-color: #28c941;
}
/* ELEMENTS */
.panel-info{
  height: 150px;
  overflow-y: auto;
}
#AccountList .table-container{
  max-height: 50vh;
  overflow-y: auto;
}
td.accSelector {
  cursor: pointer;
}
td.accSelector:hover {
  background-color: #f1e4d4;
}
td.accSelector.selected {
  color: white;
  background-color: #ff4f0b;
}